body {
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.avatar {
  width: 150px;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #6d6875;
  color: #001219;
  box-shadow: 10px 10px #001219;
}

h3:hover,
h4:hover,
p:hover {
  text-shadow: 1px 1px magenta;
}
